body {
    background-color: rgb(236, 71, 88) ;
}

.team-list {
    border: 3px solid black;
}

/* .team{
    display: flex;
    flex-direction: row;
    border: 3px solid black;
} */

.img{
    display: flex;
    width: 300px;
    height: 300px;
    border: 3px solid black;
    object-fit: contain;
}

