{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/main.css' %}" />
    <script src="{% static 'scripts/main.js' %}" defer></script>

    <title>NFL TEAMS {% block title %}{% endblock %}</title>
</head>
<body>
    <div class="nav">
        <nav>
            <div class="Home">
                <a href="/">Home</a>
            </div>
            <div class="about">
                <a href="/about">about</a>
            </div>
            <div class="teams">
                <a href="/teams">Teams</a>
            </div>
        </nav>
        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </div>
    
</body>
</html>