{% extends 'base.html' %}
{% block content %}
<h1 class="title">NFL Fantasy Teams</h1>

<a class="create-team" href="{% url 'fantasy_create' %}">Create a Fantasy Team</a>

<div>
    {% for team in fantasy_teams %}
        <div>
            <h3>{{ team.title }}</h3>
            <hr />

            {% for player in team.players.all %}
                <div>
                    <span>{{ forloop.counter }}</span>
                    <span><b>{{ player.playername }}</b></span>
                    <span>player</span>
                    <a href="{% url 'fantasy_player_assoc' team.pk player.pk %}?assoc=remove">
                      X  
                    </a>
                </div>
            {% endfor %}
        </div>
    {% empty %} 
        <div class="playlist mb-5">There are no players on your team</div>
    {% endfor %}
</div>
{% endblock %}
