{% extends 'base.html' %}

{% comment %} for head title tags and helping us with SEO {% endcomment %}
{% block title %}Artist{% endblock  %}

{% block content %}


<h1 class="header">{{header}}</h1>

<form method="get">
    <div>
      <div>
        <!--  Our input will search by name of teams  -->
        <input class="input" type="text" name="name" placeholder="name" />
      </div>
      <div>
        <input type="submit" value="Search" />
      </div>
    </div>
    <!--  This anchor tag will redirect back to teams list without a query param -->
    <a class="button is-dark" href="{% url 'teams_list' %}">Clear Search</a>
  </form>

<div class="team-list">
    {% for team in teams %}
    <a href="{% url 'team_detail' team.pk %}">
    <div class="team">
        <h1>{{team.name}}</h1>
        <div class="img">
            <img src="{{team.img}}" alt="{{team.name}}" />
        </div>
        <h3>{{team.conference}}</h3>
        <h4>Superbowl Wins: {{team.superbowlwins}}</h4>
        </div>
     </div>
    </a>

   {% empty %}
    </div>
        <p>No teams available</p>

    {% endfor %}
    {% endblock %}
</div>